@model BDSKhanhHoa.Components.NavbarMenuViewModel

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="buyDropdown" role="button" data-bs-toggle="dropdown">
        Mua bán
    </a>
    <ul class="dropdown-menu border-0 shadow-lg">
        @foreach (var item in Model.BuyCategories)
        {
            <li><a class="dropdown-item py-2" href="/Properties?typeId=@item.TypeID">@item.TypeName</a></li>
        }
    </ul>
</li>

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="rentDropdown" role="button" data-bs-toggle="dropdown">
        Cho thuê
    </a>
    <ul class="dropdown-menu border-0 shadow-lg">
        @foreach (var item in Model.RentCategories)
        {
            <li><a class="dropdown-item py-2" href="/Properties?typeId=@item.TypeID">@item.TypeName</a></li>
        }
    </ul>
</li>