# --- ASP.NET Core ---
bin/
obj/
/wwwroot/lib/
/wwwroot/images/avatars/*
!/wwwroot/images/avatars/default-user.png

# --- Chứa mật khẩu và Key (QUAN TRỌNG) ---
appsettings.json
appsettings.Development.json
*.user
*.suo
*.userosscache
*.sln.docstates

# --- VS Code & IDE ---
.vscode/
.vs/
.idea/